parameters:
  level: 9
  paths:
    - src/
    - tests/
  ignoreErrors:
    - message: '/Call to an undefined (static )?method Respect\\Data\\(AbstractMapper|InMemoryMapper|Collections\\Collection)::\w+\(\)\./'
    - message: '/Unsafe usage of new static\(\)\./'
    -
      message: '/Property .+ is never read, only written\./'
      path: tests/Stubs/
    -
      message: '/(Cannot access property|Parameter #1 .+ expects object|Access to an undefined property object)/'
      path: tests/
